
*{
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  background-color: rgb(49, 49, 168);
}

.navbar--container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--container--links a{
  margin-right: 5px;
  text-decoration: none;
}

.navbar--container--links a.active{
  background-color: red;
  padding: 0.2rem;
  border-radius: 3px;
}


